<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #F1F1F1;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <div style="width: 100%;display: flex; align-items: center; place-content: center;">
                <img class="imagen" src="../assets/imagenes/logoJCR.png" style="margin-right: 20px;">
                
                <ul class="navbar-nav">
                    <li class="nav-item" [class.active]="activeLink === 'productos'">
                        <a class="nav-link a" href="#productos"  (click)="activeLink = 'productos'">Productos</a>
                    </li>
                    <li class="nav-item" [class.active]="activeLink === 'direccion'">
                        <a class="nav-link a" href="#direccion"  (click)="activeLink = 'direccion'">Dirección</a>
                    </li>
                    <li class="nav-item" [class.active]="activeLink === 'informacion'">
                        <a class="nav-link a" aria-current="page" href="#informacion" (click)="activeLink = 'informacion'">Información</a>
                    </li>
                    
                    <li class="nav-item" [class.active]="activeLink === 'contactos'">
                        <a class="nav-link a" href="#contactos" (click)="activeLink = 'contactos'">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>