<div>
    <ngb-carousel class="" >
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/imagen 2.jpg" alt="Random second slide" style="width: 100%;object-fit: contain;">
            </div>
            
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/imagen 3.jpg" alt="Random third slide "  style="width: 100%; object-fit: contain;">
            </div>
            
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/imagen 4.jpg" alt="Random third slide "  style="width: 100%; object-fit: contain;" >
            </div>
            
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/imagen 5.jpg" alt="Random third slide "  style="width: 100%; object-fit: contain;">
            </div>
            
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/imagen 6.jpg" alt="Random third slide "  style="width: 100%; object-fit: contain;">
            </div>
            
        </ng-template>
        
    </ngb-carousel>
</div>