<div>
    <ngb-carousel class="" >
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;" >
                <img src="../assets/imagenes/ejemplo 1.jpg" alt="Random first slide"  style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3>NVDIA</h3>
                <p>Technology company</p>
            </div>
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/ejemplo 2.jpg" alt="Random second slide" style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3>Corsair gaming</h3>
                <p>Computer peripherals and hardware company</p>
            </div>
        </ng-template>
        <ng-template ngbSlide style="display: flex; justify-content: center; align-items: center;">
            <div class="picsum-img-wrapper sliderImg" style="display: flex; place-content: center; align-items:center;">
                <img src="../assets/imagenes/ejemplo 3.jpg" alt="Random third slide "  style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h3>ALIENWARE</h3>
                <p>High Quality technology products</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>