

<div style="width: 100%;display: flex; justify-content: center; margin-top:25px;">
    <h2>Frutas</h2>
</div>
<div class="d-flex" style="width: 100%; height: 100%; justify-content: end; margin-bottom: 10px;">


    <button id="boton" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
        <span aria-hidden="true">&lt;</span>
    </button>
    <button id="boton" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
        <span aria-hidden="true">&gt;</span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div id="multiItemCarousel" class="carousel slide" style="width:100%; height: 100%;">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="d-flex">
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="d-flex">
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="d-flex">
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="https://via.placeholder.com/300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>