

<div style="width: 100%;display: flex; justify-content: center; margin-top:25px;">
    <h2>Frutas</h2>
</div>
<div class="d-flex" style="width: 100%; height: 100%; justify-content: end; margin-bottom: 10px;">


    <button id="boton" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
        <span aria-hidden="true">&lt;</span>
    </button>
    <button id="boton" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
        <span aria-hidden="true">&gt;</span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="multiItemCarousel" class="carousel slide" style="width:100%; height: 100%;">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/manzanaVerde.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Manzana Verde</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/manzanaRoja.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Manzana Roja</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/manzanaGala.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Manzana Gala</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/manzanaAgua.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Manzana de Agua</h5>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/bananos.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Banano</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/Piña.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Piña</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/fresas.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Fresas</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../../assets/frutas/mandarina.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Mandarina</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/papaya.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Papaya</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/pitahaya.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Pitahaya</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/uvasMoradas.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Uvas Moradas</h5>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/uvasVerdes.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Uvas Verdes</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/Naranja.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Naranja</h5>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/limon.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Limón</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="card-group">
                      <div class="card">
                          <img class="card-img-top" style="height:300px; width: 100%;"
                              src="../../assets/frutas/pera.jpeg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Pera</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/sandia.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Sandía</h5>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/papaya.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Papaya</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/pitahaya.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pitahaya</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" style="height:300px; width: 100%;"
                            src="../../assets/frutas/nances.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Nances</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card-group">
                  <div class="card">
                      <img class="card-img-top" style="height:300px; width: 100%;"
                          src="../../assets/frutas/guabas.jpeg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Guabas</h5>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
      <!-- Repite para los otros elementos del carrusel -->
    </div>
</div>

