

<div style="width: 100%;display: flex; justify-content: center; margin-top: 50px;">
    <h2>Verduras</h2>
</div>
<div class="d-flex" style="width: 100%; height: 100%; justify-content: end; margin-bottom: 10px;">


    <button id="boton" type="button" data-bs-target="#multiItemCarousel2" data-bs-slide="prev">
        <span aria-hidden="true">&lt;</span>
    </button>
    <button id="boton" type="button" data-bs-target="#multiItemCarousel2" data-bs-slide="next">
        <span aria-hidden="true">&gt;</span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div id="multiItemCarousel2" class="carousel slide" style="width:100%; height: 100%;">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/aguacate.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aguacate</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/aguacateHash.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aguacate Hash</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/bananoVerde.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Banano Verde</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/Brocoli.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Brócoli</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item active">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/camote.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Camote</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/cebollaMorada.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cebolla Morada</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/cebollino.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cebollino</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/chayote.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chayote</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repite para los otros elementos del carrusel -->

        <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/chayoteBlanco.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chayote Blanco</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/chayoteVerde.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chayote Verde</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/chileDulce.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chile Dulce</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/chilePanameño.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chile Panameño</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Repite para los otros elementos del carrusel -->

         <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/culantro castilla.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Culantro Castilla</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/culantroCoyote.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Culantro Coyote</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/frijolTierno.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Frijol Tierno</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/jengibre.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jengibre</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Repite para los otros elementos del carrusel -->

         <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/lechuga.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Lechuga</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/ñampi.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ñampi</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/pepino.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Pepino</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/remolacha.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Remolacha</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



         <!-- Repite para los otros elementos del carrusel -->

         <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/repollo.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Repollo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/repolloMorado.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Repollo Morado</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/repolloOrganico.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Repollo Orgánico</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/tomate.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Tomate</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
         <!-- Repite para los otros elementos del carrusel -->

         <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/vainica.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vainica</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/yuca.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yuca</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/zanahoria.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Zanahoria</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" style="height:300px; width: 100%;"
                                src="../assets/imagenes/verduras/Zuchini.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Zuchini</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>
        
